html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #ebebeb;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

body > div {
	max-width: 75em;
	margin: 200em 0 0;
}

body > div ul li:nth-of-type(3n) {
	grid-column: span 3;
}

body > div ul li:nth-of-type(5n) {
	grid-row: span 2;
}

body > div ul li:nth-of-type(7n) {
	grid-column: span 2;
}

body > div ul {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-flow: dense;
	grid-auto-rows: 100px 300px;
	grid-gap: 10px;
	margin: 0;
	padding: 0;
}

li {
	width: 100%;
	height: 100%;
	list-style: none;
	overflow: hidden;
}

ul li > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	transition: transform 0.35s ease;
}

ul li > img:hover {
	/* cursor: pointer; */
	transform: scale(1.2);
	opacity: 0.75;
}

input {
	margin-top: 20em;
}
