html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #ebebeb;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

body > div {
	max-width: 70em;
}

body > div ul li:nth-of-type(3n) {
	grid-column: span 3;
}

body > div ul li:nth-of-type(1) {
	grid-row: span 2;
}

body > div ul li:nth-of-type(5n) {
	grid-row: span 3;
}

body > div ul li:nth-of-type(7n) {
	grid-column: span 2;
}

body > div ul {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-flow: dense;
	grid-auto-rows: 200px 300px;
	grid-gap: 5px;
	margin: 0;
	padding: 0;
}

li {
	width: 100%;
	height: 100%;
	list-style: none;
	overflow: hidden;
	border-radius: 0.25em;
}

ul li > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	transition: transform 0.35s ease;
}

ul li > img:hover {
	/* cursor: pointer; */
	transform: scale(1.1);
	opacity: 0.85;
}

input {
	margin-top: 5em;
	outline: none;
	width: 40em;
	padding: 0.5em;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	border: solid 0.05em grey;
	text-decoration: none;
}

input:focus {
	box-shadow: 0 0 5px purple;
	padding: 0.5em;
	margin-top: 5em;
	border: 0.05em solid purple;
	outline: none;
}

button {
	width: 5em;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	color: white;
	border: solid 0.05em rgba(0, 0, 0, 0.75);
	padding: 0.5em;
	background-color: purple;
}

@media screen and (max-width: 500px) {
	body > div ul {
		grid-template-columns: repeat(3, 1fr);
	}

	input {
		width: 15em;
	}
}

h2 {
	color: purple;
}

h2 span {
	font-weight: 300;
	color: black;
}
